@model Cliente
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Cliente</h1>

<forn method="post" asp-action= "Edit">
    <input asp-for="Id" Type="hidden"/>

     <label>Nombre</label>
    <input asp-for="Nombre" />
    <br/>
    <label>A`pellido</label>
    <input asp-for="Apellido" />
    <br/>
    <label>Telefono</label>
    <input asp-for="Telefono" />
    <br/>
    <label>Email</label>
    <input asp-for="Email" />
    <br/>
    <label>Tipo</label>
    <input asp-for="Tipo" />
    <br/>

    <input type="submit" value="Guardar"/>
</forn>
